# **Load Agent**

The Load Agent calculates the average load of the shiftable appliances for each hour. It takes the date-to-be-predicted and the data that are cleaned from noisy loads (preprocessed by the ***Preparation Agent***) as the input. Then, this agent calculates the average usage of the appliance for each hour till the preceding date. At the end, it returns the typical load profile per household with the shiftable appliances.

The load profile is responsible for the determination of the operating device costs in the ***Recommendation Agent***. 
The recommendation agent then searches at which hour/s the costs of the appliance usage are minimal, taking into account the ***Activity*** and ***Usage*** Agents and makes a recommendation.

This notebook contains the creation of the ***Load Agent*** class, sequential addition of the functions to the ***Load Agent*** and the *pipeline_function* that comprises of the whole functionality of the class. The complete class you can find in the Appendix of this notebook.

## **1. Preparing the Environment**


We need to preprocess the input data for *Load Agent*. For that we call the *pipeline_load* function from the ***Preparation Agent*** module and set the configurations for this function. Further details on the *pipeline_load* function you can find in the notebook ***Preparation Agent*** (sec. 2.5).

Load the necessary modules from our classes: Helper and Preparation_Agent. Create an object 'helper' that calls the module 'Helper'.

In [1]:
from helper_functions import Helper
from agents import Preparation_Agent

helper = Helper()

In [2]:
DATA_PATH = '../data/'

Load the dataset Household 1 with the function 'load_household'.

In [3]:
household = helper.load_household(DATA_PATH, 1)
household

,Time,Unix,Aggregate,Fridge,Chest Freezer,Upright Freezer,Tumble Dryer,Washing Machine,Dishwasher,Computer Site,Television Site,Electric Heater,Issues
Time,,,,,,,,,,,,,
2013-10-09 13:06:17,2013-10-09 13:06:17,1381323977,523,74,0,69,0,0,0,0,0,1,0
2013-10-09 13:06:31,2013-10-09 13:06:31,1381323991,526,75,0,69,0,0,0,0,0,1,0
2013-10-09 13:06:46,2013-10-09 13:06:46,1381324006,540,74,0,68,0,0,0,0,0,1,0
2013-10-09 13:07:01,2013-10-09 13:07:01,1381324021,532,74,0,68,0,0,0,0,0,1,0
2013-10-09 13:07:15,2013-10-09 13:07:15,1381324035,540,74,0,69,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-07-10 11:56:05,2015-07-10 11:56:05,1436529365,187,0,45,0,0,0,0,0,0,1,0
2015-07-10 11:56:12,2015-07-10 11:56:12,1436529372,185,0,45,0,0,0,0,0,0,1,0
2015-07-10 11:56:18,2015-07-10 11:56:18,1436529378,181,0,45,0,0,0,0,0,0,1,0
2015-07-10 11:56:25,2015-07-10 11:56:25,1436529385,186,0,45,0,0,0,0,0,0,1,0
2015-07-10 11:56:32,2015-07-10 11:56:32,1436529392,182,0,45,0,0,0,0,0,0,1,0

Now, create an object from the Preparation Agent class.

In [4]:
# calling the preparation agent
prep = Preparation_Agent(household)

Set up the parameters for the *pipeline_load* function. Here we determine the **shiftable devices** and **threshold to detect active appliances** manually. 

**Shiftable** are devices that usage can be shifted within a day. For that devices we will make recommendations.

We assume that the user of our recommendation system can choose the shiftable appliances by yourself. In that way, among shiftable appliances are: *Tumble Dryer, Washing Machine* and *Dishwasher*.

We also assume that the *Computer Site* and *Television Site* are non-shiftable appliances. The users usually switch on these appliances, if they have an interest to watch particular shows (e. g. news at 7 p.m.) and, if they are students, for preparation of the home tasks, respectively.

Other appliances, such as refrigerator and freezers cannot be switched off, and therefore, they are non-shiftable by the definition.

**Threshold** setting is important to clean data from the noisy loads. For example, the washing machine is still connected to the socket, but not working. Therefore, it consumes some energy that is not the electricity consumption of a user. More about the threshold you can find in the ***Preparation Agent*** notebook (sec. 2.4).

In [5]:
truncation_params = {
    'features': 'all', 
    'factor': 1.5, 
    'verbose': 1
}

scale_params = {
    'features': 'all', 
    'kind': 'MinMax', 
    'verbose': 1
}

aggregate_params = {
    'resample_param': '60T'
}

shiftable_devices = ['Tumble Dryer', 'Washing Machine', 'Dishwasher'] 

device_params = {
    'threshold': 0.15
}

load_pipe_params = {
    'truncate': truncation_params,
    'scale': scale_params,
    'aggregate': aggregate_params,
    'shiftable_devices': shiftable_devices, 
    'device': device_params
}

Call the *pipeline_load* function that preprocesses the input data:

*df* - the data with the original loads of shiftable appliances (in kWh) after the outliers' truncation and the cleaning step. This data will be used as an input for the *Load Agent*.

Further information about preprocessing steps find in the ***Preparation Agent*** notebook (sec. 2.2).

In [6]:
# calling the load pipline function
df, df_scaled, df_truncated = prep.pipeline_load(household, load_pipe_params)

[outlier truncation: Unix]: 100%|██████████| 6960008/6960008 [00:07<00:00, 897330.45it/s]

[outlier truncation: Unix]: 0 outliers were truncated.

[outlier truncation: Aggregate]: 100%|██████████| 6959964/6959964 [00:06<00:00, 1030665.58it/s]

[outlier truncation: Aggregate]: 853913 outliers were truncated.

[outlier truncation: Fridge]: 100%|██████████| 1611328/1611328 [00:01<00:00, 806728.50it/s]

[outlier truncation: Fridge]: 60120 outliers were truncated.

[outlier truncation: Chest Freezer]: 100%|██████████| 2395354/2395354 [00:03<00:00, 783807.19it/s]

[outlier truncation: Chest Freezer]: 207420 outliers were truncated.

[outlier truncation: Upright Freezer]: 100%|██████████| 2800342/2800342 [00:04<00:00, 624970.60it/s]

[outlier truncation: Upright Freezer]: 197818 outliers were truncated.

[outlier truncation: Tumble Dryer]: 100%|██████████| 28117/28117 [00:00<00:00, 502367.38it/s]

[outlier truncation: Tumble Dryer]: 5934 outliers were truncated.

[outlier truncation: Washing Machine]: 100%|██████████| 156232/156232 [00:00<00:00, 647931.77it/s]

[outlier truncation: Washing Machine]: 27412 outliers were truncated.

[outlier truncation: Dishwasher]: 100%|██████████| 65272/65272 [00:00<00:00, 436975.85it/s]

[outlier truncation: Dishwasher]: 0 outliers were truncated.

[outlier truncation: Computer Site]: 100%|██████████| 756639/756639 [00:01<00:00, 664905.36it/s]

[outlier truncation: Computer Site]: 253600 outliers were truncated.

[outlier truncation: Television Site]: 100%|██████████| 1273899/1273899 [00:02<00:00, 635512.58it/s]

[outlier truncation: Television Site]: 225564 outliers were truncated.

[outlier truncation: Electric Heater]: 100%|██████████| 6899335/6899335 [00:08<00:00, 860098.61it/s]

[outlier truncation: Electric Heater]: 473668 outliers were truncated.

[outlier truncation: Issues]: 100%|██████████| 58183/58183 [00:00<00:00, 387066.33it/s]

[outlier truncation: Issues]: 0 outliers were truncated.


[MinMaxScaler] Finished scaling the data.

In [7]:
df.iloc[300:360,:]

                     Tumble Dryer  Washing Machine  Dishwasher
Time
2013-10-22 01:00:00           0.0         0.000000         0.0
2013-10-22 02:00:00           0.0         0.000000         0.0
2013-10-22 03:00:00           0.0         0.000000         0.0
2013-10-22 04:00:00           0.0         0.000000         0.0
2013-10-22 05:00:00           0.0         0.000000         0.0
2013-10-22 06:00:00           0.0         0.000000         0.0
2013-10-22 07:00:00           0.0         0.000000         0.0
2013-10-22 08:00:00           0.0         0.000000         0.0
2013-10-22 09:00:00           0.0         0.000000         0.0
2013-10-22 10:00:00           0.0         0.000000         0.0
2013-10-22 11:00:00           0.0         0.000000         0.0
2013-10-22 12:00:00           0.0         0.000000         0.0
2013-10-22 13:00:00           0.0         0.000000         0.0
2013-10-22 14:00:00           0.0         0.000000         0.0
2013-10-22 15:00:00           0.0         0.000000         0.0
2013-10-22 16:00:00           0.0         0.000000         0.0
2013-10-22 17:00:00           0.0         0.000000         0.0
2013-10-22 18:00:00           0.0         0.000000         0.0
2013-10-22 19:00:00           0.0         0.000000         0.0
2013-10-22 20:00:00           0.0         0.000000         0.0
2013-10-22 21:00:00           0.0         0.000000         0.0
2013-10-22 22:00:00           0.0         0.000000         0.0
2013-10-22 23:00:00           0.0         0.000000         0.0
2013-10-23 00:00:00           0.0         0.000000         0.0
2013-10-23 01:00:00           0.0         0.000000         0.0
2013-10-23 02:00:00           0.0         0.000000         0.0
2013-10-23 03:00:00           0.0         0.000000         0.0
2013-10-23 04:00:00           0.0         0.000000         0.0
2013-10-23 05:00:00           0.0         0.000000         0.0
2013-10-23 06:00:00           0.0       209.084602         0.0
2013-10-23 07:00:00           0.0         0.000000         0.0
2013-10-23 08:00:00           0.0         0.000000         0.0
2013-10-23 09:00:00           0.0         0.000000         0.0
2013-10-23 10:00:00           0.0         0.000000         0.0
2013-10-23 11:00:00           0.0         0.000000         0.0
2013-10-23 12:00:00           0.0         0.000000         0.0
2013-10-23 13:00:00           0.0       127.137083         0.0
2013-10-23 14:00:00           0.0       132.098662         0.0
2013-10-23 15:00:00           0.0         0.000000         0.0
2013-10-23 16:00:00           0.0         0.000000         0.0
2013-10-23 17:00:00           0.0         0.000000         0.0
2013-10-23 18:00:00           0.0         0.000000         0.0
2013-10-23 19:00:00           0.0         0.000000         0.0
2013-10-23 20:00:00           0.0         0.000000         0.0
2013-10-23 21:00:00           0.0         0.000000         0.0
2013-10-23 22:00:00           0.0         0.000000         0.0
2013-10-23 23:00:00           0.0         0.000000         0.0
2013-10-24 00:00:00           0.0         0.000000         0.0
2013-10-24 01:00:00           0.0         0.000000         0.0
2013-10-24 02:00:00           0.0         0.000000         0.0
2013-10-24 03:00:00           0.0         0.000000         0.0
2013-10-24 04:00:00           0.0         0.000000         0.0
2013-10-24 05:00:00           0.0         0.000000         0.0
2013-10-24 06:00:00           0.0         0.000000         0.0
2013-10-24 07:00:00           0.0         0.000000         0.0
2013-10-24 08:00:00           0.0         0.000000         0.0
2013-10-24 09:00:00           0.0         0.000000         0.0
2013-10-24 10:00:00           0.0       117.363946         0.0
2013-10-24 11:00:00           0.0         0.000000         0.0
2013-10-24 12:00:00           0.0         0.000000         0.0

In [8]:
df.describe()

       Tumble Dryer  Washing Machine    Dishwasher
count  13520.000000     13520.000000  13520.000000
mean       0.591432         3.317218     10.267475
std       14.784178        24.859087     90.381380
min        0.000000         0.000000      0.000000
25%        0.000000         0.000000      0.000000
50%        0.000000         0.000000      0.000000
75%        0.000000         0.000000      0.000000
max      905.180288       733.000000   1087.478788

In [9]:
df[df.iloc[:, :] != 0].describe()

       Tumble Dryer  Washing Machine   Dishwasher
count     26.000000       280.000000   185.000000
mean     307.544581       160.174247   750.358140
std      141.481810        68.771746   204.531646
min      193.252927       110.040816   380.971319
25%      215.962301       127.491150   547.980583
50%      277.143647       144.878762   826.905028
75%      334.432770       165.578057   928.783964
max      905.180288       733.000000  1087.478788

## **2. Load Agent**

In [10]:
class Load_Agent:

  def __init__(self, load_input_df):
    self.input = load_input_df

### **2.1 Define the Subtasks for the Load Agent**

The **load profile** table is constructed in the way that we assume that the appliance can be used 24 hours per day. That is, of course, not a case of the real application, rather the framework for the further use in the ***Recommendation Agent*** (because each day consists of 24 hours). 

The most of appliances are used for one to two hours, then the rest of the hours in the table is filled with zeros.

**Prove start and end date**

First of all, we have to be sure that we have the full-day data for each day as the input for *Load Agent*. 

That is important, because otherwise, we have no data for the missing hours. That is equal to the non-usage of appliances at these hours.

We cannot also cannot run the following functions that are based on the 24-hours intervals.

The function below checks whether the start and end date observations are represented during 24 hours, or not. If not, the start date begins from the next date, and the end date will be then the previous date (end day - 1), respectively. Otherwise, all input data are "proven" and are used as an input.

In [11]:
def prove_start_end_date(self, df, date):
  import pandas as pd

  start_date = (df.index[0]).strftime('%Y-%m-%d')
  end_date = date

  if len(df[start_date]) < 24:
    start_date = (pd.to_datetime(start_date) + pd.Timedelta(days = 1)).strftime('%Y-%m-%d')
    df = df[start_date:end_date]
  else: 
    df = df[:end_date]

  if len(df[end_date]) < 24:
    end_new = (pd.to_datetime(end_date) - pd.Timedelta(days = 1)).strftime('%Y-%m-%d')
    df = df[:end_new]
  else: 
    df = df[:end_date]
  return df

setattr(Load_Agent, 'prove_start_end_date', prove_start_end_date)
del prove_start_end_date

In [12]:
load_agent = Load_Agent(df)
load_agent.prove_start_end_date(df, '2015-07-10') # just last date to show that it works

                     Tumble Dryer  Washing Machine  Dishwasher
Time
2013-10-10 00:00:00           0.0              0.0         0.0
2013-10-10 01:00:00           0.0              0.0         0.0
2013-10-10 02:00:00           0.0              0.0         0.0
2013-10-10 03:00:00           0.0              0.0         0.0
2013-10-10 04:00:00           0.0              0.0         0.0
...                           ...              ...         ...
2015-07-09 19:00:00           0.0              0.0         0.0
2015-07-09 20:00:00           0.0              0.0         0.0
2015-07-09 21:00:00           0.0              0.0         0.0
2015-07-09 22:00:00           0.0              0.0         0.0
2015-07-09 23:00:00           0.0              0.0         0.0

[15312 rows x 3 columns]

Let's assume that we do these steps to get the recommendations to the '2014-01-01'.

In [13]:
df = load_agent.prove_start_end_date(df, '2014-01-01')
df

                     Tumble Dryer  Washing Machine  Dishwasher
Time
2013-10-10 00:00:00           0.0              0.0         0.0
2013-10-10 01:00:00           0.0              0.0         0.0
2013-10-10 02:00:00           0.0              0.0         0.0
2013-10-10 03:00:00           0.0              0.0         0.0
2013-10-10 04:00:00           0.0              0.0         0.0
...                           ...              ...         ...
2014-01-01 19:00:00           0.0              0.0         0.0
2014-01-01 20:00:00           0.0              0.0         0.0
2014-01-01 21:00:00           0.0              0.0         0.0
2014-01-01 22:00:00           0.0              0.0         0.0
2014-01-01 23:00:00           0.0              0.0         0.0

[2016 rows x 3 columns]

**Detection of the yesterday's date**

We need to receive a load profile on the 'yesterday's date' and use in the recommender system to compute the recommendations to the current/*input* date.

In [14]:
def df_yesterday_date(self, df, date):
  import pandas as pd
  yesterday = (pd.to_datetime(date) - pd.Timedelta(days = 1)).strftime('%Y-%m-%d')
  return df[:yesterday]

setattr(Load_Agent, 'df_yesterday_date', df_yesterday_date)
del df_yesterday_date

In [15]:
df = load_agent.df_yesterday_date(df, '2014-01-01')
df

                     Tumble Dryer  Washing Machine  Dishwasher
Time
2013-10-10 00:00:00           0.0              0.0         0.0
2013-10-10 01:00:00           0.0              0.0         0.0
2013-10-10 02:00:00           0.0              0.0         0.0
2013-10-10 03:00:00           0.0              0.0         0.0
2013-10-10 04:00:00           0.0              0.0         0.0
...                           ...              ...         ...
2013-12-31 19:00:00           0.0              0.0         0.0
2013-12-31 20:00:00           0.0              0.0         0.0
2013-12-31 21:00:00           0.0              0.0         0.0
2013-12-31 22:00:00           0.0              0.0         0.0
2013-12-31 23:00:00           0.0              0.0         0.0

[1992 rows x 3 columns]

**Raw load table**

This function returns a dictionary with the separate data frames. Each data frame contains the hourly loads for each appliance separately. 

The start-hour of the appliance usage is defined as the non-zero value that appears after zero value.

The function is named *raw* because each table contains *dirty* loads. That is because this function searches for the values that are greater than zero on the interval with the length of 24 (corresponds to the columns that represents the hours in the whole day). 
Of course, between first non-zero values and the end of this interval appear some zero values that are followed by the non-zero values, i.e. an appliance could be turned on twice within 24h.

Therefore, this function does not determine a clear end-hour of the appliance yet.

However, that is not the problem, because: 
- the non-zero values that appear after zeroes are defined by the innerloop, and therefore these non-zero values are met again as the new start values (new rows) due to the out-loop,

- the function below cleans the non-zero values that appears after zeroes, and we get the clean load profiles.

In other words, one long task was splitted into two functions/sub-tasks to represent easy solutions.

Please note, that the tables do not contain zero-values, because we have pre-defined the condition *greater than zero*. The *zero-values* are represented as *nan-values* in these tables.

In [16]:
def load_profile_raw(self, df, shiftable_devices):
  import pandas as pd

  hours = [] 
  for hour in range(1,25):
    hours.append('h' + str(hour))
  df_hours = {}

  for idx, appliance in enumerate(shiftable_devices): # delete enumerate if we do not need integers indexes of devices
    df_hours[appliance] = pd.DataFrame(index = None, columns = hours)
    column = df[appliance]

    for i in range(len(column)):

      if (i == 0) and (column[0] > 0):
        df_hours[appliance].loc[0, 'h' + str(1)] = column[0]

      elif (column[i-1] == 0) and (column[i] > 0):
        for j in range(0, 24): 
          if (i + j) < len(column):
            if (column[i + j] > 0):
              df_hours[appliance].loc[i, 'h' + str(j+1)] = column[i + j]

  return df_hours

setattr(Load_Agent, 'load_profile_raw', load_profile_raw)
del load_profile_raw

In [17]:
df_hours = load_agent.load_profile_raw(df, shiftable_devices)
df_hours['Washing Machine']

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
318,209.085,NaN,NaN,NaN,NaN,NaN,NaN,127.137,132.099,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,127.137,132.099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.364,NaN,NaN
346,117.364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,201.958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445,114.042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138.236,131.192
467,138.236,131.192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,132.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,136.164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,159.398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,188.727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,144.956,NaN,NaN,NaN,NaN,129.694,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,129.694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,138.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966,112.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1042,231.825,NaN,NaN,136.343,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,136.343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.812,NaN,NaN
1066,149.812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1134,133.955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.875
1157,122.875,NaN,NaN,NaN,NaN,NaN,186.776,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1163,186.776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1277,150.608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308,133.019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,140.604,NaN,NaN,NaN,NaN,NaN,NaN
1325,140.604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.964,136.388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,193.964,136.388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,155.713,NaN,NaN,NaN,NaN,NaN,NaN,165.287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.064
1380,165.287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,140.064,NaN,NaN,NaN,NaN,NaN,NaN,124.489
1396,140.064,NaN,NaN,NaN,NaN,NaN,NaN,124.489,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1403,124.489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1493,127.178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1613,143.763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1622,143.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,151.862,133.818,145.51,132.916
1642,151.862,133.818,145.51,132.916,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,112.084,NaN,NaN,NaN,NaN
1661,112.084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1685,134.603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1715,145.547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1756,123.942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1780,136.436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1850,111.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,117.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1884,184.444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,161.682,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,161.682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909,142.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.951
1932,172.951,167.006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,146.201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Clean load table**

We have to clean the previous table from the loads that starts in the hour/s after break of the usage. This function replaces all *nan*-values and all followed non-zero values in each row to zero. The end of use is thus defined as the last non-zero value where there were no *nan-* values between the start and this value.

In [18]:
def load_profile_cleaned(self, df_hours):
  import numpy as np

  for app in df_hours.keys():
     for i in df_hours[app].index:
       for j in df_hours[app].columns:
         if np.isnan(df_hours[app].loc[i, j]):
           df_hours[app].loc[i, j:] = 0 
  return df_hours

setattr(Load_Agent, 'load_profile_cleaned', load_profile_cleaned)
del load_profile_cleaned

In [19]:
df_hours = load_agent.load_profile_cleaned(df_hours)
df_hours['Dishwasher']

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
10,427.454,498.593,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
370,894.062,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
459,935.766,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
508,880.49,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
581,727.527,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
653,997.465,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
710,842.965,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
730,899.404,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
754,446.333,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,924.428,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
852,932.038,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
892,823.667,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
965,848.503,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1085,785.146,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1155,529.148,388.985,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1204,726.206,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1372,1007.09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1421,917.016,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1468,966.674,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1515,574.103,451.614,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1610,557.59,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1612,581.284,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1683,951.317,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1762,1087.48,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1804,934.823,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1812,896.888,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1827,757.516,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1836,783.984,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1852,605.602,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1876,992.068,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1900,980.089,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1948,742.109,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1971,925.012,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_hours['Washing Machine']

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
318,209.085,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
325,127.137,132.099,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
346,117.364,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418,201.958,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
445,114.042,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
467,138.236,131.192,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
586,132.78,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
613,136.164,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
678,159.398,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
758,188.727,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
798,144.956,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
803,129.694,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
874,138.59,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
966,112.112,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1042,231.825,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1045,136.343,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1066,149.812,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1134,133.955,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1157,122.875,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1163,186.776,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1277,150.608,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1308,133.019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1325,140.604,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1333,193.964,136.388,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1373,155.713,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1380,165.287,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1396,140.064,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1403,124.489,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1493,127.178,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1613,143.763,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1622,143.9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1642,151.862,133.818,145.51,132.916,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1661,112.084,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1685,134.603,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1715,145.547,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1756,123.942,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1780,136.436,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1850,111.19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1859,117.66,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1884,184.444,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1900,161.682,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1909,142.97,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1932,172.951,167.006,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1973,146.201,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**The load profile table**

We calculate here the average values for all hours of each shiftable appliances. For that, we take each dataframe in the dictionary and calculate averages of the loads for every hour of these appliances. Then, we create a new data frame and add the appliances as the indexes and fill the *hours* columns with the respective average values.

In [21]:
def load_profile(self, df_hours, shiftable_devices): 
  import pandas as pd

  hours = df_hours[shiftable_devices[0]].columns
  loads = pd.DataFrame(columns = hours)

  for app in df_hours.keys():
    app_mean = df_hours[app].apply(lambda x: x.mean(), axis = 0)
    for hour in app_mean.index:
      loads.loc[app, hour] = app_mean[hour]

  loads = loads.fillna(0)   
  return loads

setattr(Load_Agent, 'load_profile', load_profile)
del load_profile

In [22]:
load_profiles = load_agent.load_profile(df_hours, shiftable_devices)
load_profiles

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
Tumble Dryer,355.682148,30.426509,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Washing Machine,147.090697,15.920504,3.307045,3.020827,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dishwasher,814.583135,40.581581,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### **2.2 Pipeline Function**

The output of *pipeline* function is a ready table with the average loads for each hour and each appliances. The inputs are: the preprocessed by the ***Preparation agent*** data frame, date-to-be-predicted and the list with the pre-defined shiftable appliances.

This function contains all functions in the ***Load Agent*** described above and gives a result just with one click.

In [23]:
def pipeline(self, df, date, shiftable_devices):

  df = self.prove_start_end_date(df, date)
  df = self.df_yesterday_date(df, date)
  df_hours = self.load_profile_raw(df, shiftable_devices)
  df_hours = self.load_profile_cleaned(df_hours)
  loads = self.load_profile(df_hours, shiftable_devices)

  return loads

setattr(Load_Agent, 'pipeline', pipeline)
del pipeline

In [24]:
df, df_scaled, df_truncated = prep.pipeline_load(household, load_pipe_params)

[outlier truncation: Unix]: 100%|██████████| 6960008/6960008 [00:08<00:00, 804513.90it/s]

[outlier truncation: Unix]: 0 outliers were truncated.

[outlier truncation: Aggregate]: 100%|██████████| 6959964/6959964 [00:08<00:00, 837798.67it/s]

[outlier truncation: Aggregate]: 853913 outliers were truncated.

[outlier truncation: Fridge]: 100%|██████████| 1611328/1611328 [00:01<00:00, 993223.24it/s]

[outlier truncation: Fridge]: 60120 outliers were truncated.

[outlier truncation: Chest Freezer]: 100%|██████████| 2395354/2395354 [00:02<00:00, 929091.45it/s]

[outlier truncation: Chest Freezer]: 207420 outliers were truncated.

[outlier truncation: Upright Freezer]: 100%|██████████| 2800342/2800342 [00:04<00:00, 656667.16it/s]

[outlier truncation: Upright Freezer]: 197818 outliers were truncated.

[outlier truncation: Tumble Dryer]: 100%|██████████| 28117/28117 [00:00<00:00, 617289.18it/s]

[outlier truncation: Tumble Dryer]: 5934 outliers were truncated.

[outlier truncation: Washing Machine]: 100%|██████████| 156232/156232 [00:00<00:00, 461808.14it/s]

[outlier truncation: Washing Machine]: 27412 outliers were truncated.

[outlier truncation: Dishwasher]: 100%|██████████| 65272/65272 [00:00<00:00, 317367.37it/s]

[outlier truncation: Dishwasher]: 0 outliers were truncated.

[outlier truncation: Computer Site]: 100%|██████████| 756639/756639 [00:01<00:00, 691516.22it/s]

[outlier truncation: Computer Site]: 253600 outliers were truncated.

[outlier truncation: Television Site]: 100%|██████████| 1273899/1273899 [00:01<00:00, 861564.49it/s]

[outlier truncation: Television Site]: 225564 outliers were truncated.

[outlier truncation: Electric Heater]: 100%|██████████| 6899335/6899335 [00:06<00:00, 1067980.88it/s]

[outlier truncation: Electric Heater]: 473668 outliers were truncated.

[outlier truncation: Issues]: 100%|██████████| 58183/58183 [00:00<00:00, 514388.43it/s]

[outlier truncation: Issues]: 0 outliers were truncated.


[MinMaxScaler] Finished scaling the data.

In [25]:
load_agent = Load_Agent(df) 
load_table1 = load_agent.pipeline(df, '2014-01-01', shiftable_devices) 
load_table1

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
Tumble Dryer,355.682148,30.426509,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Washing Machine,147.090697,15.920504,3.307045,3.020827,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dishwasher,814.583135,40.581581,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
load_table2 = load_agent.pipeline(df, '2015-05-09', shiftable_devices) 
load_table2

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
Tumble Dryer,310.109881,9.736483,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Washing Machine,153.608168,27.518637,7.967235,2.124543,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dishwasher,784.803087,68.961369,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### **2.3 Model Evaluation**

To evaluate the performance of the Load Agent, we will compare each run of the shiftable devices to the load profile which is available at the date of the current run using the mean squared error. This will result in a mean squared error for every run of the device. We aggregate these scores by averaging, so that we obtain one performance score for each shiftable device. To receive these perfomance scores, we will define a function which returns the true energy consumption after starting the device (i.e. true loads). The true loads will then be used to calculate the MSE scores in a second function.

In [27]:
def get_true_loads(self, shiftable_devices):
    true_loads = self.load_profile_raw(self.input, shiftable_devices)
    true_loads = self.load_profile_cleaned(true_loads)
    for device, loads in true_loads.items():
        true_loads[device].rename(
            index=dict(enumerate(self.input.index)), inplace=True
        )
    return true_loads

setattr(Load_Agent, 'get_true_loads', get_true_loads)
del get_true_loads

In [28]:
load_agent = Load_Agent(df) 
true_loads = load_agent.get_true_loads(shiftable_devices)
true_loads['Tumble Dryer']

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
2013-10-27 14:00:00,319.275,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-11-22 13:00:00,331.412,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-11-27 12:00:00,207.267,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-12-11 14:00:00,204.45,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-12-23 11:00:00,239.26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-12-26 07:00:00,240.889,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-12-26 12:00:00,905.18,243.412,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-12-28 14:00:00,397.724,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-01-03 13:00:00,432.648,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-04-17 16:00:00,360.834,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-07-10 22:00:00,298.044,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-07-11 05:00:00,408.312,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-08-12 13:00:00,334.601,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-08-13 14:00:00,199.574,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-08-14 12:00:00,193.253,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-09-03 16:00:00,361.173,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-09-16 15:00:00,205.964,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-09-19 06:00:00,266.415,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-09-24 13:00:00,245.268,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-10-31 14:00:00,287.873,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-12-28 13:00:00,193.304,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-01-11 12:00:00,333.927,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-01-23 11:00:00,326.83,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-02-06 11:00:00,208.196,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-04-25 15:00:00,251.074,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Note:** The evaluation mode of the evaluate function will be used for evaluating the complete recommender system. It allows speed up the evaluation by handing the already calculated outputs of the Load Agent to the evaluate funtion. Therefore, it will not be necessary to call the Load Agents pipeline function while evaluating its performance.

In [29]:
def evaluate(self, shiftable_devices, metric="mse", aggregate=True, evaluation=False):
    from tqdm import tqdm
    import pandas as pd
    import numpy as np
    tqdm.pandas()

    if metric == "mse":
        import sklearn.metrics
        metric = sklearn.metrics.mean_squared_error

    true_loads = self.get_true_loads(shiftable_devices)

    scores = {}
    if not evaluation:
        for device in shiftable_devices:
            scores[device] = true_loads[device].progress_apply(
                lambda row: metric(row.values, self.pipeline(self.input, str(row.name)[:10], [device]).values.reshape(-1,)), axis=1,
            )
    else:
        for device in shiftable_devices:
            scores[device] = {}
            for idx in tqdm(true_loads[device].index):
                date = str(idx)[:10]
                y_true = true_loads[device].loc[idx, :].values
                try:
                    y_hat = evaluation[date].loc[device].values.reshape(-1,)
                except KeyError:
                    try:
                        y_hat = self.pipeline(self.input, date, [device]).values.reshape(-1,)
                    except:
                        y_hat = np.full(24, 0)
                scores[device][idx] = metric(y_true, y_hat)
            scores[device] = pd.Series(scores[device])

    if aggregate:
        scores = {device: scores_df.mean() for device, scores_df in scores.items()}
    return scores

setattr(Load_Agent, 'evaluate', evaluate)
del evaluate

In [30]:
load_agent = Load_Agent(df) 
load_agent.evaluate(shiftable_devices)

/Applications/Conda/anaconda3/envs/mlim/lib/python3.8/site-packages/tqdm/std.py:699: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|██████████| 25/25 [00:01<00:00, 13.79it/s]
100%|██████████| 228/228 [01:00<00:00,  3.74it/s]
100%|██████████| 163/163 [00:36<00:00,  4.51it/s]

{'Tumble Dryer': 1224.4506989451836,
 'Washing Machine': 511.48631737881226,
 'Dishwasher': 3021.8763655972857}

## **Appendix A1: Complete Load Agent Class**

In [31]:
class Load_Agent:
    def __init__(self, load_input_df):
        self.input = load_input_df

    # selecting the correct data, identifying device runs, creating load profiles
    # -------------------------------------------------------------------------------------------
    def prove_start_end_date(self, df, date):
        import pandas as pd

        start_date = (df.index[0]).strftime("%Y-%m-%d")
        end_date = date

        if len(df[start_date]) < 24:
            start_date = (pd.to_datetime(start_date) + pd.Timedelta(days=1)).strftime(
                "%Y-%m-%d"
            )
            df = df[start_date:end_date]
        else:
            df = df[:end_date]

        if len(df[end_date]) < 24:
            end_new = (pd.to_datetime(end_date) - pd.Timedelta(days=1)).strftime(
                "%Y-%m-%d"
            )
            df = df[:end_new]
        else:
            df = df[:end_date]
        return df

    def df_yesterday_date(self, df, date):
        import pandas as pd

        yesterday = (pd.to_datetime(date) - pd.Timedelta(days=1)).strftime("%Y-%m-%d")
        return df[:yesterday]

    def load_profile_raw(self, df, shiftable_devices):
        import pandas as pd

        hours = []
        for hour in range(1, 25):
            hours.append("h" + str(hour))
        df_hours = {}

        for idx, appliance in enumerate(
            shiftable_devices
        ):  # delete enumerate if we do not need integers indexes of devices
            df_hours[appliance] = pd.DataFrame(index=None, columns=hours)
            column = df[appliance]

            for i in range(len(column)):

                if (i == 0) and (column[0] > 0):
                    df_hours[appliance].loc[0, "h" + str(1)] = column[0]

                elif (column[i - 1] == 0) and (column[i] > 0):
                    for j in range(0, 24):
                        if (i + j) < len(column):
                            if column[i + j] > 0:
                                df_hours[appliance].loc[i, "h" + str(j + 1)] = column[
                                    i + j
                                ]
        return df_hours

    def load_profile_cleaned(self, df_hours):
        import numpy as np

        for app in df_hours.keys():
            for i in df_hours[app].index:
                for j in df_hours[app].columns:
                    if np.isnan(df_hours[app].loc[i, j]):
                        df_hours[app].loc[i, j:] = 0
        return df_hours

    def load_profile(self, df_hours, shiftable_devices):
        import pandas as pd

        hours = df_hours[shiftable_devices[0]].columns
        loads = pd.DataFrame(columns=hours)

        for app in df_hours.keys():
            app_mean = df_hours[app].apply(lambda x: x.mean(), axis=0)
            for hour in app_mean.index:
                loads.loc[app, hour] = app_mean[hour]

        loads = loads.fillna(0)
        return loads

    # evaluating the performance of the load agent
    # -------------------------------------------------------------------------------------------
    def get_true_loads(self, shiftable_devices):
        true_loads = self.load_profile_raw(self.input, shiftable_devices)
        true_loads = self.load_profile_cleaned(true_loads)
        for device, loads in true_loads.items():
            true_loads[device].rename(
                index=dict(enumerate(self.input.index)), inplace=True
            )
        return true_loads

    def evaluate(self, shiftable_devices, metric="mse", aggregate=True, evaluation=False):
        from tqdm import tqdm
        import pandas as pd
        import numpy as np

        tqdm.pandas()

        # true_loads = self.get_true_loads(shiftable_devices)
        if metric == "mse":
            import sklearn.metrics

            metric = sklearn.metrics.mean_squared_error

        true_loads = self.get_true_loads(shiftable_devices)

        scores = {}
        if not evaluation:
            for device in shiftable_devices:
                scores[device] = true_loads[device].progress_apply(
                    lambda row: metric(
                        row.values,
                        self.pipeline(
                            self.input, str(row.name)[:10], [device]
                        ).values.reshape(
                            -1,
                        ),
                    ),
                    axis=1,
                )
        else:
            for device in shiftable_devices:
                scores[device] = {}
                for idx in tqdm(true_loads[device].index):
                    date = str(idx)[:10]
                    y_true = true_loads[device].loc[idx, :].values
                    try:
                        y_hat = (
                            evaluation[date]
                            .loc[device]
                            .values.reshape(
                                -1,
                            )
                        )
                    except KeyError:
                        try:
                            y_hat = self.pipeline(
                                self.input, date, [device]
                            ).values.reshape(
                                -1,
                            )
                        except:
                            y_hat = np.full(24, 0)
                    scores[device][idx] = metric(y_true, y_hat)
                scores[device] = pd.Series(scores[device])

        if aggregate:
            scores = {device: scores_df.mean() for device, scores_df in scores.items()}
        return scores    

    # pipeline function: creating typical load profiles
    # -------------------------------------------------------------------------------------------
    def pipeline(self, df, date, shiftable_devices):
        # kann mann dann self benutzen?
        df = self.prove_start_end_date(df, date)
        df = self.df_yesterday_date(df, date)
        df_hours = self.load_profile_raw(df, shiftable_devices)
        df_hours = self.load_profile_cleaned(df_hours)
        loads = self.load_profile(df_hours, shiftable_devices)
        return loads